
/*-------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------*/

/*----FONTS----*/
@font-face {
    font-family: "klavika";
    src: url('/resources/font/klavika-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: "klavika";
    src: url("/resources/font/klavika-bold-webfont.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "klavika";
    src: url("/resources/font/klavika-light-webfont.woff") format('woff');
    font-weight: 200;
}

@font-face {
    font-family: "klavika";
    src: url("/resources/font/klavika-medium-webfont.woff") format('woff');
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 20px;
    font-weight: 200;
    font-family: 'klavika';
}

body {
    background-image: linear-gradient(#00000080, #00000080), url('../images/background.jpg');
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden; 
    width: 620%;
}

/*-------------------------------------*/
/* LOADER */
/*-------------------------------------*/

#loader-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 3;
    visibility:visible;
    transition: opacity 1s, visibility 1s;
}

#loader {
    z-index: 4;
    transition: opacity 1s;
    margin-top: 25%;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#monk {
	overflow: hidden;
	transform: translatey(0px);
    animation: float 3s ease-in-out infinite;
    text-align: center;
}

.loader-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#loader-text,
#loader-text2 {
    color: white;
    font-style: italic;
    text-align: center;
    margin-top: 35px;
    font-size: 75%;
}

#loader-text {
    animation: text 3s;
}

#loader-text2 {
    animation: text2 3s;
}

@keyframes text {
    0%{
        font-size: 0%;
    }
    30%{
        font-size: 75%;
    }
}

@keyframes text2 {
    0%{
        font-size: 0%;
        left: -100px;
    }
    80%{
        font-size: 0%;
        left: -100px;
    }
    100%{
        font-size: 75%;
        left: 0;
    }
}


/*-------------------------------------*/
/* PAGE CONTENT */
/*-------------------------------------*/

.wrapper {
    height: 100%;
}

.horizontal-container { 
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.horizontal-page {
    display: inline-block;
    height: 100%;
    width: 11%;
    color: white;
    opacity: 0;
    transition: opacity 1s;
}

.logo{
    position: fixed;
    bottom: 0;
    right: 0;
    fill: white;
}

/*-------------------------------------*/
/* NAVIGATION */
/*-------------------------------------*/

.nextArrow,
.backArrow {
    color: white;
    position: fixed;
    top: 38%;
    font-size: 200%;
}

.nextArrow {
    right: 10px;
}

.backArrow {
    left: 10px;
}

.main-nav {
    color: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
    float: right;
    list-style: none;
    border: 1px white dotted;
    line-height: 15px;
    font-size: 50%;
    z-index: 2;
}

.main-nav li {
    display: inline-block;
    border-right: 1px white dotted;
    padding: 0px 5px;
    line-height: 10px;
    /* background-color: white; */
    background-clip: padding-box;
    transition: background-color 0.2s;
}

.main-nav li:last-child {
    border-right: none;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
}

#steps-footer {
    color: white;
    position: fixed;
    bottom: 20px;
    left: 215px;
    float: right;
    font-size: 50%;
    padding-bottom: 3px;
    transition: opacity 1s;
}

/*-------------------------------------*/
/* TEXTS */
/*-------------------------------------*/

.title {
    font-size: 200%;
    text-decoration: underline;
    position: absolute;
}

.upper-left {
    top: 10px;
    margin-left: 30px;
}

.upper-right {
    top: 10px;
    right: 30px;
}

.center-left {
    margin-left: 41px;
    top: 37%;
}

.center-right {
    float: right;
    position: relative;
    top: 37%;
    right: -39%;
    text-align: right;
}

.footer {
    font-size: 60%;
    position: absolute;
    bottom: 90px;
    left: 20px;
}

.center-right-footer {
    float: right;
    top: 40%;
    right: 30px;
    text-align: right;
}


/*-------------------------------------*/
/* SIDEBAR */
/*-------------------------------------*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #141414;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
  }
  
#main {
    transition: margin-right 0.5s;
    padding: 16px;
}

.sidebar a:link,
.sidebar a:visited {
    text-decoration: none;
    color: white;
}

.sidebar a:hover,
.sidebar a:active {
    text-decoration: none;
    color: #d6d6d6;
}

.contacts {
    float: right;
    margin-right: 30px;
    position: relative;
    top: 41%;
    font-size: 60%;
    padding-top: 10px;
}

.contact-box{
    float: left;
    margin-left: 12px;
}