
/*-------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------*/

/*----FONTS----*/
@font-face {
    font-family: "klavika";
    src: url('/resources/font/klavika-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: "klavika";
    src: url("/resources/font/klavika-bold-webfont.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "klavika";
    src: url("/resources/font/klavika-light-webfont.woff") format('woff');
    font-weight: 200;
}

@font-face {
    font-family: "klavika";
    src: url("/resources/font/klavika-medium-webfont.woff") format('woff');
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'klavika';
    background-image: linear-gradient(#00000080, #00000080), url('../images/background.jpg');
    background-attachment: scroll;
    background-size: cover;
    /* comentar overflow para mostrar scroll horizontal*/
    overflow: hidden; 
    width: 620%;
}

/*-------------------------------------*/
/* SCREENS */
/*-------------------------------------*/

.wrapper {
    /* height: 100%; */
}

.horizontal-container { 
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    position: relative;
}

.horizontal-page {
    display: inline-block;
    height: 100%;
    width: 12.5%;
    color: white;
}

/*-------------------------------------*/
/* NAVIGATION */
/*-------------------------------------*/

.nextArrow{
    color: white;
    position: fixed;
    top: 50%;
    right: 0;
}

.backArrow{
    color: white;
    position: fixed;
    top: 50%;
    left: 0;
}

.main-nav {
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*-------------------------------------*/
/* TITLES */
/*-------------------------------------*/

.title {
    font-size: 50px;
    text-decoration: underline;
    /*TODO work with this*/
    opacity: 1;
}